@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: #0f1017;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}
.dropdown-gradient {
    background-image: radial-gradient(
            121.65% 100% at 60.68% 0,
            rgba(40, 45, 65, 0.6) 0,
            rgba(60, 65, 65, 0.3) 32.49%,
            rgba(40, 45, 65, 0) 79.34%
        ),
        radial-gradient(
            91.41% 93.04% at 50% 0,
            rgba(16, 18, 26, 0.5) 20.67%,
            rgba(16, 18, 26, 0) 100%
        ),
        radial-gradient(
            69.96% 65.89% at 50% 100%,
            rgba(11, 13, 20, 0.5) 22.77%,
            rgba(9, 11, 17, 0) 100%
        );
}

.font-geo2 {
    font-family: var(--font-geo2), Arial, sans-serif;
}